@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center mt-5">
            <h1>Bienvenido a Casa de Empeño</h1>
            <p class="lead">Tu plataforma para comprar, vender y subastar productos valiosos.</p>
        </div>
    </div>
</div>
